  .hello {
      color: blue;
      text-decoration: none;
    }
   body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('../../image/background3.gif');
    background-position: center;
    background-attachment: fixed;
    height: 50%;
   } 

   h3 {
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: skyblue;
   }
   h2 {
    color: skyblue;
    text-shadow: 0 0 15px rgba(135, 206, 250, 0.7), 0 0 30px rgba(135, 206, 250, 0.7);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 0 15px rgba(132, 219, 254, 2);
   }
   h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: skyblue;
    box-shadow: 0 0 15px rgba(132, 219, 254, 2);
   }
   h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: skyblue;
    background-color: transparent;
    box-shadow: 0 0 15px rgba(132, 219, 254, 2);
   }
   .section-title1 {
    color: darkblue;
    background-color: transparent;
   }
   .section-titles1 {
    color: darkblue;
    background-color: skyblue;
   }
   .section-title2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: skyblue;
    color: darkblue;
   }
   p {
    color: skyblue;
    text-shadow: 0 0 15px rgba(46, 66, 78, 0.7), 0 0 30px rgba(135, 206, 250, 0.7);
    font-family: sans-serif;
    font-size: medium;
    font-style: bold;
   }
   #main-nah {
    padding: 10px;
    background-color:transparent;
    border-radius: 25px;
    border: 5px solid rgb(3, 231, 248);
    box-shadow: 0 0 15px rgba(132, 219, 254, 2);
   }
   .c1 {
    font-weight: 500;
    color: white;
   }
   .nah {
    width: 80%;
    margin: auto;
    text-decoration: none;
   }
   header {
    background-color: grey;
    margin: 10px 0;
    padding: 10px;
   }
   .circle-img {
  height: 150px;
  width: 150px;  
  border-radius: 50%; 
  box-shadow: 0 0 15px rgba(132, 219, 254, 2);
   }
   li {
    color: skyblue;
    text-shadow: 0 0 15px rgba(135, 206, 250, 0.7), 0 0 30px rgba(135, 206, 250, 0.7);
    font-family: sans-serif;
    font-size: medium;
    font-style: bold;
   }
   td {
     color: skyblue;
    text-shadow: 0 0 15px rgba(135, 206, 250, 0.7), 0 0 30px rgba(135, 206, 250, 0.7);
    font-family: sans-serif;
    font-size: medium;
    font-style: bold;
   }
   th {
     color: skyblue;
    text-shadow: 0 0 15px rgba(135, 206, 250, 0.7), 0 0 30px rgba(135, 206, 250, 0.7);
    font-family: sans-serif;
    font-size: medium;
    font-style: bold;
   }